<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../../assets/stylesheets/styles.css">
</head>
<body>
    <div id="tu_moda_app">
        <navigation_bar></navigation_bar>
        <div class="content">
            <h1 class="h1"> Bienvenido</h1>
            <img class="img-fluid" src="../../assets/images/background.png" alt="logo">
        </div>
        
    </div>

</body>
<script src="../../assets/javascript/vue.js"></script>
<script src="../../assets/javascript/vue_components.js"></script>
<script src="index.js"></script>

<script src="../../assets/javascript/jquery.js"></script>
<script src="../../assets/javascript/popper.js"></script>
<script src="../../assets/javascript/bootstrap.min.js"></script>
</html>