<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../../assets/stylesheets/styles.css">
</head>

<body>
    <div id="tu_moda_app">
        <h2>Categorias</h2>

        <button v-on:click="goToProducts">Volver</button>
        <button v-on:click="createCategory" class="btn btn-success" >
            Crear Categoria
        </button>
        <table class="table table-hover table-striped mt-2">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="category in categories" v-bind:key="category.getId()">
                    <td>{{category.getName()}}</td>
                    <td>
                        <!-- delete category -->
                        <i class="mdi mdi-trash-can text-danger table_action_icon" data-tooltip="tooltip"
                            data-placement="top" title="Eliminar" data-toggle="modal" v-bind:data-target="'#delete' +
                            category.getId()"></i>
                        <!-- Edit button -->
                        <i class="mdi mdi-lead-pencil text-warning table_action_icon" data-tooltip="tooltip"
                            data-placement="top" title="Editar" v-on:click="editCategory(category.getId())"></i>

                        <!-- Modal delete item -->
                        <div class="modal fade" v-bind:id="'delete' + category.getId()" tabindex="-1" role="dialog"
                            v-bind:aria-labelledby="'delete' + category.getId() + 'Label'" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" v-bind:id="'delete' + category.getId() + 'Label'">
                                            Atención! </h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <p>¿Estas seguro de eliminar este categoria? ,<strong>Esta acción no se puede deshacer</strong></p>
                                        <p><strong>Nombre:</strong>
                                            {{category.getName()}}</p>

                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-block btn-secondary"
                                            data-dismiss="modal">Cancelar</button>
                                        <button type="button" class="btn btn-danger"
                                            v-on:click="deleteCategory(category.getId(),category.getName())">Eliminar</button>
                                    </div>
                                </div>
                            </div>
                        </div> <!-- end delete modal -->

                        <!-- Start Edit modal -->
                        <div class="modal fade" v-bind:id="'edit' + category.getId()" tabindex="-1" role="dialog"
                            v-bind:aria-labelledby="'edit' + category.getId() + '_title'" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" v-bind:id="'edit' + category.getId() + '_title'">
                                            Editando Categoria </h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="form-group col-md-12">
                                            <label v-bind:for="'category_name_'+ category.getId()">Precio</label>
                                            <input type="number" class="form-control" v-bind:id="'category_name_'+ category.getId()"
                                                placeholder="Precio" :value="category.getName()">
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-block btn-secondary" data-dismiss="modal">Cancelar</button>
                                        <button type="button" class="btn btn-success"
                                            v-on:click="editCategory(category.getId())">Guardar</button>
                                    </div>
                                </div>
                            </div>
                        </div> <!-- End Edit modal-->
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <!-- Generic Modal -->
    <div class="modal fade" id="generic_modal" tabindex="-1" role="dialog"
        aria-labelledby="generic_modal_title" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="generic_modal_title"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div id="generic_modal_body" class="modal-body">
                    

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-block btn-secondary" data-dismiss="modal"> OK </button>
                </div>
            </div>
        </div>
    </div> 
    <!-- end Generic modal -->
</body>

<script src="../../assets/javascript/vue.js"></script>
<script src="categories.js"></script>

<script src="../../assets/javascript/jquery.js"></script>
<script src="../../assets/javascript/popper.js"></script>
<script src="../../assets/javascript/bootstrap.min.js"></script>

</html>