$nav_width: 64px;

#tu_moda_app{
    display: flex;
    background-color: #f1f1f1;
    height: 100vh;
    overflow-y: scroll;
}

.navigation__main{
    width: $nav_width;
    position: relative;

    .navigation__contents{
        top: 16px;
        position: sticky;
        position: -webkit-sticky;
    }
}

.content{
    flex: 1;
    padding: 4px;
}