.sales{

    .card__product{
        width: 10rem;
        height: auto;
        position: relative;

        .card__product--button_add{
            position: absolute;
            top: -18px;
            right: -10px;
            z-index: 2;
            cursor: pointer;
        }
    }

    .sold_product{
        position: relative;
        .sold_product__icon{
            position: absolute;
            top: 5px;
            right: 5px;
        }
    }

}