<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../../assets/stylesheets/styles.css">

</head>
<body>
    <div id="tu_moda_app">

        <navigation_bar></navigation_bar>

        <div class="content sales grid_container columns-5">
                <div class="column-fill-3 bg-white">
                    <div class="text__black col-12 p-4 text-center">
                        <h2>Registrar Venta</h2>
                    </div>
                    <div class="col-12">
                        <div class="col-12 " >
                            <input class="form-control" type="text" placeholder="Buscar">
                        </div>
                        <div class="d-flex flex-wrap">
                            <div class="
                                card card__product
                                m-1 mt-4 mr-2"
                                v-for="(product, index) in referenced_products" :key="index">
                                <div class="card-img-top bg-dark d-flex justify-content-center">
                                    <i class="mdi mdi-tshirt-crew mdi-48px text-white"></i>
                                </div>
                                <p class="card-subtitle h5 m-1 ">
                                    <b>Categoria:</b> {{product.getCategory().getName()}}
                                </p>
                                <p class="card-title h4 m-1">
                                    <b>Nombre:</b> {{product.getName()}}
                                </p>

                                <i class="mdi mdi-plus-circle card__product--button_add mdi-36px text-success">
                                </i>
                            </div>
                        </div>
    
                    </div>
                </div>
                <div class="column-fill-2 bg-light  d-flex flex-column">
                    <h4 class="text-center p-4">{{todayDate}}</h4>
                    <form action="">
                        <div class="form-group">
                            <label class="col-4" for="client">Cliente:</label>
                            <input class="col-7" id="client" type="text" class="form-control">
                        </div>
                        <div class="form-group">
                            <label class="col-4" for="cedula">Cedula:</label>
                            <input class="col-7" id="cedula" type="text" class="form-control">
                        </div>
                        <div class="form-group">
                            <label class="col-4" for="telephone">Telefono:</label>
                            <input class="col-7" id="telephone" type="text" class="form-control">
                        </div>
                    </form>
                    <div class="border border-dark flex-grow-1">
                        <div v-for="(prod, index) in soldProducts" :key="index">

                        </div>
                    </div>
                </div>


            <generic_modal
                id="creation_error"
                title="Error"
                message="Hay productos con errores"
            >
            </generic_modal>
        </div>
    </div>

    <script src="../../assets/javascript/vue.js"></script>
    <script src="../../assets/javascript/vue_components.js"></script>
    <script src="form.js"></script>

    <script src="../../assets/javascript/jquery.js"></script>
    <script src="../../assets/javascript/popper.js"></script>
    <script src="../../assets/javascript/bootstrap.min.js"></script>
</body>
</html>