<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../../assets/stylesheets/styles.css">

</head>
<body>
    <div id="tu_moda_app">
        <h2> Formulario Ventas </h2>
        <button v-on:click="viewSales()">
            Volver
        </button>
        <button v-on:click="addProduct">
            Agregar producto
        </button>
        <div class="border border-dark p-4 m-2" v-for=" soldProduct in soldProducts " v-bind:key="soldProduct.listId" >
            <div class="">
                <select class="custom-select col-md-5 m-1" v-model="soldProduct.productId">

                    <option value="0">Escoge un Producto</option>

                    <option v-for="product in products" v-bind:value="product.getId()" v-bind:key="product.getId()">
                        {{product.getName()}}</option>
                </select>
                <input class="form-control col-md-5 m-1" v-model="soldProduct.amount" type="number" name="amount">

            </div>
            <div v-if="soldProduct.productId !== 0">
                <p>Nombre {{productsHash.get(soldProduct.productId).getName()}}</p>
                <p>Categoria {{productsHash.get(soldProduct.productId).getCategory().getName()}}</p>
                <p>Cantidad {{soldProduct.amount}}</p>
                <p> Costo {{productsHash.get(soldProduct.productId).getCost()}}
                </p>
                <p> Costo Total {{productTotalCost(productsHash.get(soldProduct.productId).getCost(),soldProduct.amount)}}
                </p>
            </div>
        </div>

        <h2>
            Total Price: {{sale.getTotalPrice()}}
        </h2>
    </div>

    <script src="../../assets/javascript/vue.js"></script>
    <script src="form.js"></script>

    <script src="../../assets/javascript/jquery.js"></script>
    <script src="../../assets/javascript/popper.js"></script>
    <script src="../../assets/javascript/bootstrap.min.js"></script>
</body>
</html>